{% extends "base.html" %}

{% block title%}{{ video.title }}{% endblock %}

{% block content %}
Address: {{ incident.address }}
<br>
City: {{ incident.city }}
<br>
State: {{ incident.state }}
<br>
Alarm Level:
{% for alarm_desc in alarm_levels.level_description %}
{{ alarm_desc }}
{% endfor %}
<br>
Department: {{ incident.department }}
<br>
Date: {{ incident.date }}
<br>
Keywords: {{ incident.keywords }}
<br>
<br>
Appears On:
{% for video in videos %}
<li>{{ video }}</li>
{% endfor %}
<br>
{% for photo in photos %}
<img src='/media/{{ photo.photo }}'/>
{% endfor %}
{% endblock %}