<html>
<head>
<title>Nginx Status Graphs</title>
</head>
<body>
<img src='/media/nginx_status/connections-day.png'/>
<img src='/media/nginx_status/connections-week.png'/>
<img src='/media/nginx_status/connections-month.png'/>
<img src='/media/nginx_status/connections-year.png'/>
<img src='/media/nginx_status/requests-day.png'/>
<img src='/media/nginx_status/requests-week.png'/>
<img src='/media/nginx_status/requests-month.png'/>
<img src='/media/nginx_status/requests-year.png'/>
</body>
</html>
