<html>
<head>
<title>Nginx Status Graphs</title>
</head>
<body style='background-color:black; color:white; text-align: center; font-size: 20;'>
<div style='display: block; margin-left: auto; margin-right: auto;'>Connections/Day</div>
<img style='display: block; margin-left: auto; margin-right: auto;' src='/media/nginx_status/connections-day.png'/>
<div style='display: block; margin-left: auto; margin-right: auto;'>Connections/Week</div>
<img style='display: block; margin-left: auto; margin-right: auto;' src='/media/nginx_status/connections-week.png'/>
<div style='display: block; margin-left: auto; margin-right: auto;'>Connections/Month</div>
<img style='display: block; margin-left: auto; margin-right: auto;' src='/media/nginx_status/connections-month.png'/>
<div style='display: block; margin-left: auto; margin-right: auto;'>Connections/Year</div>
<img style='display: block; margin-left: auto; margin-right: auto;' src='/media/nginx_status/connections-year.png'/>
<div style='display: block; margin-left: auto; margin-right: auto;'>Requests/Day</div>
<img style='display: block; margin-left: auto; margin-right: auto;' src='/media/nginx_status/requests-day.png'/>
<div style='display: block; margin-left: auto; margin-right: auto;'>Requests/Week</div>
<img style='display: block; margin-left: auto; margin-right: auto;' src='/media/nginx_status/requests-week.png'/>
<div style='display: block; margin-left: auto; margin-right: auto;'>Requests/Month</div>
<img style='display: block; margin-left: auto; margin-right: auto;' src='/media/nginx_status/requests-month.png'/>
<div style='display: block; margin-left: auto; margin-right: auto;'>Requests/Year</div>
<img style='display: block; margin-left: auto; margin-right: auto;'src='/media/nginx_status/requests-year.png'/>
</body>
</html>
